.full {
    height: 90vh;
    bottom: 0;
    /* z-index: -1; */
}

body  {
    overflow-y: hidden;
}

.title {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title h1 {
    text-align: center;
}