@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-color: hsl(0, 0%, 0%);
  --body-color: rgb(175, 204, 230);
  --header-color: rgb(144, 193, 233);
  --body-font: "Montserrat", sans-serif;
  --title-font: "Dancing Script", cursive;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

h1 {
  font-family: var(--title-font);
  font-size: 2.5rem;
  color: var(--title-color);
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}